{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}

<div class="my-5 text-center">

    <div class = "my-5">
        <h1>
            ID: {{ target_user.username }}
        </h1>
        <h1>
            Nickname: {{ target_user.profile.nickname }}
        </h1>
    </div>
    <div style="max-width: 900px; margin: auto">
        <h2>
            가입일자: {{ target_user.date_joined }}
        </h2>
    </div>

    {% if user == target_user %}
        <div>
            <a href="{% url 'accountapp:update' pk=target_user.pk %}">
                <div class="btn btn-warning rounded-pill px-5 my-5">
                    Update
                </div>
            </a>
        </div>
    {% endif %}

</div>

{% endblock %}